<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="color-scheme" content="light dark">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="https://unpkg.com/vant@2.12/lib/index.css">
</head>
<body>
	<div id="app">
		<div>
			<div class="title" v-cloak>{{title}}</div>
		<van-notice-bar
		  left-icon="volume-o"
		  scrollable
		  :text="notice"
		  @click="handleNoticeClick"
		  v-cloak
		/>
		</div>
		<!-- 常见问题 -->
		<van-collapse v-model="activeName" accordion border=false>
  			<van-collapse-item :name="item.id" v-for="item in questions" :key="item.id">
  				<template #title>
  					<div class="title-content" :class="{'isActive': item.select}"    @click="handelItemChange(item.id)">
  						<div :class="{'title_bg_active': item.select}"></div>
  						<div class="xuhao_bg">
  							<div class="xuhao" v-cloak>{{item.id}}</div>
  						</div>
  						<div class="title-txt" v-cloak>{{item.title}}</div>
  					</div>
  					
  				</template>
  				<template #right-icon>
  					<div class="right-icon-class">
  						<van-icon name="arrow"  />
  					</div>
  					
  				</template>
  				<template #default>
  					<div class="des-content" v-html="item.content">
  					</div>
  				</template>
  			</van-collapse-item>
		</van-collapse>
		<van-popup v-model="show" :style="{ height: '30%', width: '70%' }" round lock-scroll closeable>
			<div class="pop-content">
				<div class="pop-title">快速反馈问题请进QQ群</div>
				<div class="qqnum">1019280543</div>
			</div>
		</van-popup>
	</div>
	
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script src="https://unpkg.com/vue@2.6/dist/vue.min.js"></script>
<script src="https://unpkg.com/vant@2.12/lib/vant.min.js"></script>
<script src="index.js"></script>
</html>