<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="index.css">
	<link rel="stylesheet" href="https://unpkg.com/vant@2.12/lib/index.css">
</head>
<body>
	<div id="app">
		<div>
			<h3 class="title" v-cloak>{{title}}</h3>
		<van-notice-bar
		  left-icon="volume-o"
		  scrollable
		  :text="notice"
		/>
		</div>
		<!-- 常见问题 -->
		<div class='content_wrap'>
			<div class="cell_content" v-for="item in questions" :key="item.id" @click="handleItemClick(item.id)">
				<div :class="{'title-content': true, 'active': item.select}">
					<div class="xuhao_bg">
						<span class="xuhao" v-cloak>{{item.id}}</span>
					</div>
					<span class="title" v-cloak>{{item.title}}</span>
				</div>
				<p class="des-content" v-cloak v-if="item.select" v-html="item.content"></p>
			</div>
		</div>
	</div>
	
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script src="https://unpkg.com/vue@2.6/dist/vue.min.js"></script>
<script src="https://unpkg.com/vant@2.12/lib/vant.min.js"></script>
<script src="index.js"></script>
</html>